html{
   font: Helvetica;
}

#subhead{
    margin-top: 10px;
    height: 90px;
    width: 980px;
}

#subhead #pp{
    margin-left: -40px;
    font: 26px  #0000000;
    margin-top: 50px;
    font-style: italic;
}

.mnu{
    position: fixed;
    height:47px;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    opacity: 1.0;
    z-index: 25000;
    font-size: 18px;

}

.navbar{
    width: 980px;
}

.navbar-nav{
    margin-top: 0px;
    border-radius: 5px;
}

.navbar-nav a:hover{
    background: #444444 !important;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
    height: 45px;
}

.navbar-nav li{
    margin-right: 13px;
}


a{
    color: inherit;
}

#indx{
    background-color: #ffffff;
    font-size: 14px;
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    border-top: solid 1px #dddddd;
    margin-top: 0px;
	height:1300px;
	overflow:hidden;
	width: 900px;
	
}

    
	#fea{
        background-color: #ffffff;
        border-left: solid 1px #dddddd;
        border-right: solid 1px #dddddd;
        border-top: solid 1px #dddddd;
		margin-top: 52px;
		height:0px;
		overflow:hidden;
        width: 900px;
    }

.container1 li{
    margin-left:31px;
    margin-right:15px;
	color:#666666;
	line-height:150%;
	text-indent: -13px;
}

.container1 ul{
    font-size: 18px;
    margin: 20px 0px 0px 20px;
    padding-left: 0px;
}

body{
    background-image: url('public/img/ground.png');
    background-color: #eeeeee;
    overflow-x: hidden;
	
}

.container1 .pre1{
    font: 17px Helvetica;
    width: 700px;
    margin-top: 50px;
    margin-left: 82px;
    background-color: #f5f5f5;
    border: none;
    text-align: center;
	border-radius:5px;
}


.container1  #Hadop{
    font: 14px Helvetica;
    width: 700px;
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 80px;
    background-color: #f5f5f5;
    border: none;
	border-radius:5px;
	height: 320px;
	overflow:hidden;
	
}
#Hadop  p{
    line-height:180%;
	text-align:justify;
    text-justify:inter-word;
	margin-left:50px;
	margin-right:50px;
	margin-top:8px;
}
#Hadop ul{
margin-top: 60px;
margin-left:50px;
}


.container1 h1{
line-height:180%;
    margin-top: 10px;
    margin-left:20px;
    width: 820px;
    font-size: 36px;
    border-bottom: solid 1px #dddddd;
	height:50px;
	text-indent:68px;
}

.container1 #dlbut{
   background-color:#31708f;
    margin-top: 10px;
    margin-left: 60%;
    color: #ffffff;
    width:260px;
    height: 60px;
    border: solid 1px #357694;
    border-radius: 5px;
    font-size: 18px;
    opacity: 0.9;
}

.container2{
    font-size: 16px;
    text-align: left;
    width: 900px;
    height: 50px;
    color: #000000;
    background-color: #e7e7e7;
    border: solid 2px #e1e1e1;
}

.under-foot{
    background-color:  #333333;
    color: #ffffff;
}

.container3{
    font-size: 13px;
    text-align: left;
    width: 950px;
    height: 20px;
    margin-top: 5px;
}


.container2 #cont{
    margin-left: 16px;
    font-size:16px;
    color: #000000;
    width: 300px;
    margin-top: 12px;
}



  .container0 .col-md-4{
        color: #888888;
        font-size: 13px;
		

    }

    .container0 .col-md-8{
        border-left: solid 1px #eeeeee;
        margin-top: 70px;


    }

    .container0 .col-md-8 pre{
        color:#666666;
        font-size: 14px;
        background-color: inherit;
        border: none;
        text-align: left;
        margin-top: -10px;
    }


    .left-col-1{
        cursor: pointer;
        margin-top: 35px;
    

    }

    .left-col-2{
        cursor: pointer;
        margin-top: 65px;


    }

    .left-col-3{
        cursor: pointer;
        margin-top: 95px;

    }

    .left-col-4{
        cursor: pointer;
        margin-top: 125px;

    }

    .left-col-5{
        cursor: pointer;
        margin-top: 155px;

    }

    .left-col-6{
        cursor: pointer;
        margin-top: 185px;

    }

    .left-col-7{
        cursor: pointer;
        margin-top: 215px;

    }

    .left-col-8{
        cursor: pointer;
        margin-top: 245px;

    }

    .left-col-9{
        cursor: pointer;
        margin-top: 275px;
      
    }

    .left-col-10{
        cursor: pointer;
        margin-top: 305px;
       
    }

    .left-col-11{
        cursor: pointer;
        margin-top: 335px;
    

    }

    .left-col-12{
        cursor: pointer;
        margin-top: 365px;


    }
	




















